<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Max\AppData\Local\Programs\Python\Python39\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
